body {
    margin: 0;
    padding: 0;
    border-block: none;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header {
    width: 100%;
    display: grid;
    place-content: center;
    background-color: cadetblue;
}
h1 {
    font-size: 5rem;
}
#library {
    height: max(30vh, 15rem);
}
button {
    font-size: 2rem;
}
#library {
    display: grid;
}
#library div {
    border: 1px black solid;
    border-radius: 5px;

    padding: 2rem;
}